.tarifs-title {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  line-height: 30px;
}

#navbar {
  line-height: 25px !important;
}

.center {
  text-align: center;
  margin-bottom: 15%;
}

.link_reglement {
  list-style: none;
  text-decoration: underline;
  font-style: italic;
  font-size: 14px;
}

.infos {
  font-size: 20px;
  padding: 50px;
}

.affiches-texte {
  background-color: yellow;
  font-style: italic;
}

.sinscrire {
  font-family: "Gruppo";
  font-size: 40px;
  font-weight: bold;
}

.liens-pdf {
  text-decoration: none;
  color: black;
}

.liens-pdf:hover {
  text-decoration: none;
}

.tarif-title {
  font-family: "Titillium Web", sans-serif;
  font-size: 40px;
}

.tarifs-2018-img {
  height: auto;
}

.t-compet {
  height: 600px;
}

.t-annee {
  text-align: center;
  padding: 100px 0;
}
.conception_work {
  color: white;
}

.tarifs_2021 {
  display: flex;
  padding: 10% 0 10% 0;
  justify-content: space-evenly;
}

.tarifs_2021 img {
  width: 30%;
}

@media screen and (max-width: 640px) {
  .t-annee {
    text-align: center;
    padding: 50px 0;
  }
  .tarifs_2021 {
    display: block;
  }
  
  .tarifs_2021 img {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
}